head
	meta(charset='UTF-8')
	// meta(name='viewport', content='width=device-width')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title= title
	include ./css.jade
	block js
		// if ENV_DEVELOPMENT
			script(src='http://localhost:35729/livereload.js')
