extends ./layout/layout

block content
	h1 Zdravei, Miro!
	h3 Reshih da ti se pohvalq na teb, zashtoto znam, che shte me razberesh
	h3 Ne znam dali znaesh, no si vzeh Raspberry Pi 3 (nai-novoto :D)
	h3 Uspiah da go nastroq s 300 zora da go polzvam za server. SAM!
	h3 Polzvam nginx za load balancer i nodejs.
	h3 Umiram ot kef i znam che shte mi razberesh kefa!
